/* Header */
.header {
    background-color: #0b2a4a;
    color: white;
    padding: 20px 40px;
}

.header-top {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.filters select {
    width: 100%;
    border: 1px solid #d7d7d7;
    height: 42px;
    border-radius: 12px;
    padding: 0px 12px;
}

.blockdiv {
    display: grid;
    width: 100%;
}

.owner {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 5px;
}

.history-box {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paid-tabs {
    padding-left: 0;
    padding-right: 0;
}

.history-box .card-header span {
    align-items: center;
    display: flex;
    color: #001F3F;
    font-weight: 400;
    margin-right: 0px;
}

.history-box .card-header span svg {
    margin-right: 7px;
}

/* Filters */
.filters {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    border: 1px solid #eff0f1;
    margin-bottom: 20px;
}

.filters input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}

/* Card */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #eff0f1;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.badge {
    color: #008236 !important;
    background: #DCFCE7;
    border-radius: 6px;
    margin-right: 6px;
    padding: 3px 6px;
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
}

.row:last-child {
    border-bottom: none;
}

.final {
    font-weight: 600;
}

.danger {
    color: #dc2626 !important;
    font-weight: 600;
}

.meta {
    font-size: 12px;
    color: #4A5565;
    margin-top: 10px;
}

.meta>div {
    display: flex;
    align-items: center;
}

.meta>div svg {
    margin-right: 7px;
}

.first-row {
    border-bottom: 0px;
}

.buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #001F3F;
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg {
    margin-right: 7px;
}

.btn:hover {
    background-color: #123a63;
}

.box-hist .row span {
    color: #4A5565;
    font-size: 14px;
}

.box-hist .row.final span {
    font-weight: 500;
    color: #101828;
}